<div class="view">
    <div class="container" style="height: 100%">
        <div class="row justify-content-center align-items-center" style="height: 100%">                            
            <div class="col-md-6 text-center white-text">
                <h1>Лучшие модели по доступной цене</h1>
                <hr>
                <h4 class="mb-4">Удобный сайт автосалона позволит вам экономить свои ресурсы и
                    быстро находить то, что вам нужно!</h4>            
                <a class="btn btn-outline-white"  routerLink="/login">Войти</a> 
                <a class="btn btn-outline-white"  (click)="logout()">Выйти</a>    
                <a class="btn btn-outline-white" routerLink="/register">Регистрация</a>
                <a class="btn btn-outline-white" routerLink="/admin">Админ</a>
                <a class="btn btn-outline-white" routerLink="/file">Работа с файлами</a>                
            </div>        
        </div>    
    </div>
</div> 