<nav class="navbar navbar-default" role="navigation">
    <a routerLink="/start" class="navbar-left"><img src="/assets/images/logo.png"></a>
  <div class="container-fluid">

    <!-- Само меню -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/models">Модели </a></li>
        <li><a href="#">Купить</a></li>
        <li><a href="#">Тест-драйв</a></li>
        <li><a href="#">Обратный звонок</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
